.navbar-brand img {
    max-width: 250px;
}

.flaticon-star-1 {
    color: #f39c12!important;
}

.footer-logo {
    background-color: #fff;
    padding: 10px;
}

.widget-contact-info.icon-primary i, .widget-contact-info.icon-primary:before,
.top-header i:before {
    color: #bdbdf1!important;
}

#bookNow .modal-dialog {
    max-width: 1000px;
}

#bookNow .modal-dialog .modal-body {
    height: 600px;
}

.book-now {
    font-size: 20px;
    font-weight: 700;
}

.book-now {
    animation: shake 1.5s cubic-bezier(.36, .07, .19, .97) both infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
      transform: translate3d(4px, 0, 0);
    }
  }

.schedule-btn {
    animation: shake 1.5s cubic-bezier(.36, .07, .19, .97) both infinite;
    position: absolute;
    right: 15px;
    height: 70px;
    padding-top: 7px;
    font-weight: 900;
}

.schedule-btn:before {
    content: '';
}

.nav-item .nav-link:hover,
.burger-nav .navbar-nav .nav-link:hover {
    color: #bdbdf1!important;
}

.texh .owl-item {
    height: 100px;
}

.texh .owl-item svg {
    filter: grayscale(100%);
    width: 60px;
    margin: 0 auto;
    opacity: .9;
    transition: all 1s;
}

.texh .owl-item:hover svg {
    filter: grayscale(0);
    opacity: 1;
    transition: all 1s;
    cursor: pointer;
}

.gallery-video .btn-group {
    width: fit-content;
    margin: 60px auto 0;
    display: block;
}
